@model IEnumerable<DziennikTreningowy.Models.Pomiar>

@{
    ViewData["Title"] = "Pomiary";
}

<h1>Pomiary</h1>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Wzrost
            </th>
            <th>
                Waga
            </th>
            <th>
                Ramię
            </th>
            <th>
                Klatka piersiowa
            </th>
            <th>
                Talia
            </th>
            <th>
                Udo
            </th>
            <th>
                Łydka
            </th>
            <th>
                BMI
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WzrostID) cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WagaID) kg
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RamieID) cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KlatkaID) cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaliaID) cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UdaID) cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LydkaID) cm
            </td>
            <td>
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PomiarID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.PomiarID">Detale</a> |
                <a asp-action="Delete" asp-route-id="@item.PomiarID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
